body {
  font-family: "Quicksand", sans-serif;
  color: rgb(70, 70, 70);
  background-color: rgba(231, 231, 217, 0.578);
}
h1 {
  font-weight: 400;
  font-size: 18px;
}
.icons {
  font-size: 28px;
  color: rgb(77, 143, 230);
}

.temperature {
  font-size: 30px;
}

.container {
  max-width: 700px;
  margin: 100px auto 20px;
  padding: 30px;
  border: 5px solid lightblue;
  border-radius: 15px;
  box-shadow: 6px 5px 5px rgba(79, 77, 77, 0.108);
  background-color: white;
}
header {
  text-align: right;
  padding: 0;
  margin: 77px auto;
}
.col {
  text-align: center;
}
.form-inline {
  position: relative;
  top: 75px;
}
.heading {
  margin: -40px -15px;
}
.units {
  position: relative;
  top: -20px;
}
.cityName {
  font-weight: bold;
}

.search-form {
  position: relative;
  top: 4px;
  left: 20px;
}
.current-time {
  position: relative;
  top: 4px;
  left: 30px;
}
.bottom {
  text-align: center;
  font-size: 15px;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}
